body{
    background-color: #b2b2ef;
    margin: 0;
}
main{
    padding: 100px 0 300px 0;
font-size: larger;
}

h2{
  text-align: center;
}


.container{
  margin-left: 100px;
}


  
  
  
  
  
  
  
  
